@()


<footer class="footer">

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Sobre ITT Rutas</h2>
                    <p>Aplicación para optimizar la ruta de logística de materiales.</p>
                </div><!-- /.col-* -->

                <div class="col-sm-6">
                    <h2>Información de contacto</h2>
                    <p>
                        <b>Andrea Catalina Herrera Rodríguez - Juan Sebastián Castro Estévez</b><br>
                        Universidad de los Andes, Bogotá, Colombia<br>
                        Carrera 1 N° 18A 12 Bogotá<br>
                        +57 315-614-9509
                    </p>
                </div><!-- /.col-* -->
            </div>
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->

</div><!-- /.page-wrapper -->

<script src="@routes.Assets.versioned("javascripts/itt-maps.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/map.js")" type="text/javascript"></script>

<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/collapse.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/carousel.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/transition.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/dropdown.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/tooltip.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/tab.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-sass/javascripts/bootstrap/alert.js")" type="text/javascript"></script>

<script src="@routes.Assets.versioned("javascripts/colorbox/jquery.colorbox-min.js")" type="text/javascript"></script>

<script src="@routes.Assets.versioned("javascripts/flot/jquery.flot.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/flot/jquery.flot.spline.js")" type="text/javascript"></script>

<script src="@routes.Assets.versioned("javascripts/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/owl.carousel/owl.carousel.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap-fileinput/fileinput.min.js")"></script>

<script src="@routes.Assets.versioned("javascripts/superlist.js")" type="text/javascript"></script>
<script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>

</body>
